<div id="public-ads">
	<img src="images/page-loader.gif" ng-hide="ready" alt="" width="150px">
	<ul ng-cloak class="list"> 
		<li ng-repeat="ad in adsData.ads">
			<ul class="public-ad">
				<li class="ad-title">{{ad.title}}</li>
				<li>
					<div ng-if='ad.imageDataUrl'>
           			 <strong>Image:</strong><img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
       				 </div>
       			</li>
				<li class="ad-text">{{ad.text}}</li>
				<li class="ad-town">Name: {{ad.ownerName}}</li>
				<li class="ad-category">Email: {{ad.ownerEmail}}</li>
				<li class="ad-category">Phone: {{ad.ownerPhone}}</li>
				<li class="ad-date">Date: {{ad.date | date:'dd-MMM-yyyy'}}</li>
			</ul>
			
		</li>
	</ul>
	<pagination 
		page="startPage" 
		ng-model="currentPage" 
		total-items="adsData.numItems" 
		ng-change="pageChanged()" 
		item-per-page="pageSize">
	</pagination>
</div>

